@import "compass";

$nav-title1: #ef5350;
$nav-title2: #00bcd4;;
$nav-title3: #8bc34a;
$nav-title4: #ffb300;

.notes {
  text-align: center;
  font-size: 18px;
  color: $nav-title4;
  .type-name {
    margin: 0 -4px;
  }
  .type-num {
    font-size: 42px;
    font-weight: 700;
    margin: 0 5px;
  }
}
.chart {
  margin-top: 20px;
}
.statistic {
  display: inline-block;
}

.village-top10 {
  ul {
    height: 280px;
    overflow-x: auto;
    width: 82px;
    padding-left: 47px;
  }
}
.top5 {
  display: block;
}
